<!DOCTYPE html>
<html>
<div class=" text-white  " style="background-color: #aee0df"    > 

<head>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #209290;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <h1><a class="navbar-brand text-left text-white" href="#">Conspiracy Theory Classifier</a></h1>
    
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">About our project</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link " href="#">contact us</a>
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    </nav>
    <style>
            
        .input-text {
            width: 80%;
            height: 200px;
        }
    </style>

</head>

    
        
       
        
    <body style="background-color: #aee0df">
        <div class="container mt-5" style="background-color: #aee0df">
            

            
            
        
            <form id="textForm" class= "text-left" style="background-color: #aee0df">
                <div class="form-group ">
                    <h4><label for="inputText" class="text-dark text-left" style="background-color: #aee0df">Please input text for conspiracy classification:</label></h4>
                    <textarea class="form-control input-text " style="background-color: #aee0df" id="inputText" name="inputText" rows="4" placeholder="Enter your text here..."></textarea>
                </div>
                <div class="text-left mt-3">
                    <button type="submit" class="btn btn-primary" style="background-color: #209290">Classify</button>
                </div>
            </form>
        </div>    
    
        <div id="userText" class="collapse   text-dark"  style="display: block;">
            <div class="card card-body  text-dark" style="background-color: #aee0df">
                <div class="text-dark" style="background-color: #aee0df">
                    <!-- <h4>Here is a highlighted version of your text:</h4> -->
                    
                    <div id="userTextInput"></div>
                    <div class="container mt-5" >
                        <h3>Color Legend:</h3>
                        <div>
                            
                            <span style="background-color: rgb(255, 255, 255); display: inline-block; width: 20px; height: 20px; vertical-align: middle; margin-left: 10px;"></span>
                            <span>: Non Conspiracy</span>
                        </div>
                        <div>
                            
                            <span style="background-color: rgb(255, 192, 192); display: inline-block; width: 20px; height: 20px; vertical-align: middle; margin-left: 10px;"></span>
                            <span>: Neutral</span>
                        </div>
                        <div>
                            
                            <span style="background-color: rgb(255, 0, 0); display: inline-block; width: 20px; height: 20px; vertical-align: middle; margin-left: 10px;"></span>
                            <span>: High Probability Conspiracy</span>
                        </div>
                        
                    </div>
                </div>
                

            </div>
            <div class="card card-body text-dark" style="background-color: #aee0df">
                <h4>Classification Result</h4>
                <!-- <div id="result"><div> -->
                <div id="sentenceInfo"> Conspiracy information about your text appears here</div>
            </div>

        </div>
            
            
            
       

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="static/script.js"></script>
    </body>
</div>
</html>
